# Exploratory Data Analysis

In this exploratory data analysis (EDA) Python notebook, I conducted a comprehensive cleaning process for real estate transaction data specifically for the year 2023. The purpose of this analysis was to gain insights into the current trends and patterns in the real estate market for the most up-to-date information available.

The logical reason behind choosing data for this year is to ensure the relevance and accuracy of our analysis. Real estate markets are dynamic and constantly evolving, influenced by various factors such as economic conditions, housing demand, and policy changes. By focusing on data from the current year, we can capture the latest market conditions and make informed decisions based on the most recent trends.

The cleaning process involved several steps to ensure the data's quality and integrity. Initially, I assessed the dataset for missing values, outliers, and inconsistencies. I employed appropriate techniques such as imputation, removal, or interpolation to handle missing data points. Outliers, if detected, were carefully analyzed to determine their validity and potential impact on the analysis.

In [106]:
#Importing required packages

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from geopy.geocoders import Nominatim
from geopy import distance

In [107]:
#Loading the dataset

df = pd.read_csv(r"C:\Users\Karan\Desktop\Real Estate Price Prediction\transactions-2023-05-26.csv", low_memory=False)

In [108]:
df.head(10)

,Transaction Number,Transaction Date,Transaction Type,Transaction sub type,Registration type,Is Free Hold?,Usage,Area,Property Type,Property Sub Type,...,Property Size (sq.m),Room(s),Parking,Nearest Metro,Nearest Mall,Nearest Landmark,No. of Buyer,No. of Seller,Master Project,Project
0,102-1-2023,2023-01-02 07:25:49,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,BUSINESS BAY,Unit,Flat,...,105.75,2 B/R,1,Business Bay Metro Station,Dubai Mall,Downtown Dubai,1,1,NaN,AYKON CITY 3
1,102-10-2023,2023-01-02 08:06:49,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,BUSINESS BAY,Unit,Flat,...,52.29,Studio,1,Business Bay Metro Station,Dubai Mall,Downtown Dubai,1,1,NaN,AYKON CITY 3
2,102-100-2023,2023-01-02 09:01:22,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,Al Wasl,Unit,Flat,...,161.32,2 B/R,1,NaN,NaN,NaN,1,1,NaN,Fern
3,102-1000-2023,2023-01-05 13:26:06,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,JUMEIRAH LAKES TOWERS,Unit,Flat,...,99.64,2 B/R,1,Damac Properties,Marina Mall,Burj Al Arab,1,1,NaN,SEVEN CITY JLT
4,102-10000-2023,2023-03-01 16:02:19,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,JUMEIRAH VILLAGE CIRCLE,Unit,Flat,...,63.95,1 B/R,1,Dubai Internet City,Marina Mall,Sports City Swimming Academy,1,1,NaN,Binghatti Corner
5,102-10001-2023,2023-03-01 16:09:42,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,JUMEIRAH VILLAGE CIRCLE,Unit,Flat,...,61.36,1 B/R,1,Dubai Internet City,Marina Mall,Sports City Swimming Academy,1,1,NaN,Binghatti Corner
6,102-10002-2023,2023-03-01 19:41:51,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,DUBAI CREEK HARBOUR,Unit,Flat,...,64.09,1 B/R,1,Creek Metro Station,City Centre Mirdif,Dubai International Airport,1,1,NaN,CREEK EDGE
7,102-10003-2023,2023-03-01 19:45:13,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,Madinat Dubai Almelaheyah,Unit,Flat,...,72.73,1 B/R,1,NaN,NaN,NaN,1,1,NaN,Seascape
8,102-10004-2023,2023-03-01 19:51:18,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,DUBAI CREEK HARBOUR,Unit,Flat,...,97.23,2 B/R,1,Creek Metro Station,City Centre Mirdif,Dubai International Airport,2,1,NaN,CREEK EDGE
9,102-10005-2023,2023-03-01 19:52:42,Sales,Sell - Pre registration,Off-Plan,Free Hold,Residential,DUBAI WATER CANAL,Unit,Flat,...,77.87,1 B/R,1,Business Bay Metro Station,Dubai Mall,Burj Khalifa,1,1,NaN,DAMAC CITY

In [109]:
#Converting Dates to datetime format

df['Date'] = pd.to_datetime(df['Transaction Date'])

In [110]:
#Dropping Transaction Number, Type, Sub-Type, Date, No. of Buyers/Sellers and Master Project columns

df.drop('Transaction Type',axis=1,inplace=True)
df.drop('Transaction sub type',axis=1,inplace=True)
df.drop('Transaction Number',axis=1,inplace=True)
df.drop('Transaction Date',axis=1,inplace=True)
df.drop('Master Project', axis=1,inplace=True)
df.drop('No. of Buyer', axis=1,inplace=True)
df.drop('No. of Seller', axis=1,inplace=True)

In [111]:
#Extracting Month from Date column

df['Month'] = df['Date'].dt.strftime('%B')

In [112]:
# Filtering out sales of Commercial properties 

df['Usage'].value_counts()

Usage
Residential    62122
Commercial      3746
Name: count, dtype: int64

In [113]:
for x in df.index:
  if df.loc[x, "Usage"] == 'Commercial':
    df.drop(x, inplace = True)

In [114]:
#Filtering Non-Residential properties like Gyms, Offices, Shops etc.

df['Property Sub Type'].value_counts()

Property Sub Type
Flat                                  42772
Villa                                  6241
Residential                            5396
Hotel Apartment                        1771
Office                                 1651
Hotel Rooms                            1024
Shop                                   1021
Government Housing                      387
Land                                    317
Residential Flats                       179
General Use                             100
Airport                                  91
Hospital                                 75
Agricultural                             22
Unit                                     19
Stacked Townhouses                       13
Residential / Attached Villas             5
Warehouse                                 4
Building                                  4
Hotel                                     3
Gymnasium                                 3
Commercial / Offices / Residential        3
Workshop                                  3
Clinic                                    3
Funeral Gathering                         2
School                                    1
Sized Partition                           1
Name: count, dtype: int64

In [115]:
df=df[df['Property Sub Type'].str.contains("Flat|Residential|Residential Flats|Unit")==True]

In [116]:
for x in df.index:
  if df.loc[x, "Property Sub Type"] == 'Residential / Attached Villas':
    df.drop(x, inplace = True)
    
for x in df.index:
  if df.loc[x, "Property Sub Type"] == 'Commercial / Offices / Residential':
    df.drop(x, inplace = True)

In [117]:
df['Property Sub Type'].value_counts()

Property Sub Type
Flat                 42772
Residential           5396
Residential Flats      179
Unit                    19
Name: count, dtype: int64

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48366 entries, 0 to 65867
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Registration type        48366 non-null  object
 1   Is Free Hold?            48366 non-null  object
 2   Usage                    48366 non-null  object
 3   Area                     48366 non-null  object
 4   Property Type            48366 non-null  object
 5   Property Sub Type        48366 non-null  object
 6   Amount                   48366 non-null  float64
 7   Transaction Size (sq.m)  48358 non-null  float64
 8   Property Size (sq.m)     48366 non-null  float64
 9   Room(s)                  42756 non-null  object
 10  Parking                  41728 non-null  object
 11  Nearest Metro            34358 non-null  object
 12  Nearest Mall             34273 non-null  object
 13  Nearest Landmark         39589 non-null  object
 14  Project                  39737 non-null  object
 15  Date                     48366 non-null  datetime64[ns]
 16  Month                    48366 non-null  object
dtypes: datetime64[ns](1), float64(3), object(13)
memory usage: 7.6+ MB

In [119]:
#Using 1 and 0 to determine whether parking is provided

df['Parking'].isnull().sum()

6638

In [120]:
df["Parking"].fillna(0, inplace = True)

In [121]:
df['Parking'] = df['Parking'].where(df['Parking'] == 0, 1)

In [122]:
df['Parking'].value_counts()

Parking
1    41728
0     6638
Name: count, dtype: int64

In [123]:
# Dropping rows where Project name or Number of Rooms aren't provided

df = df.dropna(subset=['Room(s)', 'Project'])

In [124]:
# Dropping Usage and Property Sub-Type as they have been filtered down to only a single category - Residential Units/Flats

df.drop('Usage', axis=1, inplace=True)
df.drop('Property Sub Type', axis=1, inplace=True)

In [125]:
# Using Transaction Size (sq.m) and filling empty values with Property Size (sq.m)

df[df['Transaction Size (sq.m)'].isnull()]

,Registration type,Is Free Hold?,Area,Property Type,Amount,Transaction Size (sq.m),Property Size (sq.m),Room(s),Parking,Nearest Metro,Nearest Mall,Nearest Landmark,Project,Date,Month
65858,Ready,Non Free Hold,SILICON OASIS,Unit,860000.0,NaN,106.65,2 B/R,1,NaN,NaN,IMG World Adventures,ARABIAN GATE,2023-01-04 09:57:32,January
65859,Ready,Non Free Hold,SILICON OASIS,Unit,550000.0,NaN,87.73,2 B/R,1,NaN,NaN,IMG World Adventures,LA VISITA 02,2023-01-24 13:44:46,January
65860,Ready,Non Free Hold,SILICON OASIS,Unit,365000.0,NaN,78.33,1 B/R,1,NaN,City Centre Mirdif,IMG World Adventures,AXIS RESIDENCES 2,2023-01-27 08:50:46,January
65861,Ready,Non Free Hold,SILICON OASIS,Unit,350000.0,NaN,79.11,1 B/R,1,NaN,NaN,IMG World Adventures,AXIS RESIDENCES 1,2023-03-07 10:07:01,March
65862,Ready,Non Free Hold,SILICON OASIS,Unit,600000.0,NaN,77.22,1 B/R,1,NaN,NaN,IMG World Adventures,ARABIAN GATE,2023-03-08 11:06:29,March
65863,Ready,Non Free Hold,SILICON OASIS,Unit,365000.0,NaN,74.31,1 B/R,1,NaN,City Centre Mirdif,IMG World Adventures,AXIS RESIDENCES 2,2023-03-19 17:34:29,March
65864,Ready,Non Free Hold,SILICON OASIS,Unit,829878.0,NaN,106.65,2 B/R,1,NaN,NaN,IMG World Adventures,ARABIAN GATE,2023-01-04 09:55:02,January
65866,Ready,Non Free Hold,SILICON OASIS,Unit,583109.0,NaN,77.22,1 B/R,1,NaN,NaN,IMG World Adventures,ARABIAN GATE,2023-03-08 10:50:43,March

In [126]:
df.loc[65858, 'Transaction Size (sq.m)'] = 106.65
df.loc[65859, 'Transaction Size (sq.m)'] = 87.83
df.loc[65860, 'Transaction Size (sq.m)'] = 78.33
df.loc[65861, 'Transaction Size (sq.m)'] = 79.11
df.loc[65862, 'Transaction Size (sq.m)'] = 77.22
df.loc[65863, 'Transaction Size (sq.m)'] = 74.31
df.loc[65864, 'Transaction Size (sq.m)'] = 106.65
df.loc[65866, 'Transaction Size (sq.m)'] = 77.22

In [127]:
#Creating new column for address of the property

df['Address'] = df['Project'] + ', ' + df['Area'] + ', Dubai, United Arab Emirates'

In [128]:
df['Area_Address'] = df['Area'] + ', Dubai, United Arab Emirates'

In [129]:
df['Month_No'] = df['Date'].dt.month

In [130]:
#Dropping duplicate entries from the dataset

df.drop_duplicates(keep='first', inplace=True)

In [131]:
df.head()

,Registration type,Is Free Hold?,Area,Property Type,Amount,Transaction Size (sq.m),Property Size (sq.m),Room(s),Parking,Nearest Metro,Nearest Mall,Nearest Landmark,Project,Date,Month,Address,Area_Address,Month_No
0,Off-Plan,Free Hold,BUSINESS BAY,Unit,2631000.0,105.75,105.75,2 B/R,1,Business Bay Metro Station,Dubai Mall,Downtown Dubai,AYKON CITY 3,2023-01-02 07:25:49,January,"AYKON CITY 3, BUSINESS BAY, Dubai, United Arab...","BUSINESS BAY, Dubai, United Arab Emirates",1
1,Off-Plan,Free Hold,BUSINESS BAY,Unit,1466000.0,52.29,52.29,Studio,1,Business Bay Metro Station,Dubai Mall,Downtown Dubai,AYKON CITY 3,2023-01-02 08:06:49,January,"AYKON CITY 3, BUSINESS BAY, Dubai, United Arab...","BUSINESS BAY, Dubai, United Arab Emirates",1
2,Off-Plan,Free Hold,Al Wasl,Unit,3309000.0,161.32,161.32,2 B/R,1,NaN,NaN,NaN,Fern,2023-01-02 09:01:22,January,"Fern, Al Wasl, Dubai, United Arab Emirates","Al Wasl, Dubai, United Arab Emirates",1
3,Off-Plan,Free Hold,JUMEIRAH LAKES TOWERS,Unit,1170137.0,99.64,99.64,2 B/R,1,Damac Properties,Marina Mall,Burj Al Arab,SEVEN CITY JLT,2023-01-05 13:26:06,January,"SEVEN CITY JLT, JUMEIRAH LAKES TOWERS, Dubai, ...","JUMEIRAH LAKES TOWERS, Dubai, United Arab Emir...",1
4,Off-Plan,Free Hold,JUMEIRAH VILLAGE CIRCLE,Unit,590000.0,63.95,63.95,1 B/R,1,Dubai Internet City,Marina Mall,Sports City Swimming Academy,Binghatti Corner,2023-03-01 16:02:19,March,"Binghatti Corner, JUMEIRAH VILLAGE CIRCLE, Dub...","JUMEIRAH VILLAGE CIRCLE, Dubai, United Arab Em...",3

In [132]:
#Keeping data for just apartments that have upto 5 bedrooms

df['Room(s)'].unique()

array(['2 B/R', 'Studio', '1 B/R', '3 B/R', '5 B/R', '4 B/R', '6 B/R',
       'PENTHOUSE', '9 B/R', 'Single Room'], dtype=object)

In [133]:
df=df[df['Room(s)'].str.contains("2 B/R|1 B/R|3 B/R|5 B/R|4 B/R")==True]

In [134]:
df['Room(s)'].unique()

array(['2 B/R', '1 B/R', '3 B/R', '5 B/R', '4 B/R'], dtype=object)

In [135]:
df['Room(s)'] = df['Room(s)'].replace(['1 B/R', '2 B/R', '3 B/R', '4 B/R', '5 B/R'], [1, 2, 3, 4, 5])

In [136]:
df['Area_Address'].unique()

array(['BUSINESS BAY, Dubai, United Arab Emirates',
       'Al Wasl, Dubai, United Arab Emirates',
       'JUMEIRAH LAKES TOWERS, Dubai, United Arab Emirates',
       'JUMEIRAH VILLAGE CIRCLE, Dubai, United Arab Emirates',
       'DUBAI CREEK HARBOUR, Dubai, United Arab Emirates',
       'Madinat Dubai Almelaheyah, Dubai, United Arab Emirates',
       'DUBAI WATER CANAL, Dubai, United Arab Emirates',
       'Business Bay, Dubai, United Arab Emirates',
       'TOWN SQUARE, Dubai, United Arab Emirates',
       'Zaabeel First, Dubai, United Arab Emirates',
       'SOBHA HEARTLAND, Dubai, United Arab Emirates',
       'DAMAC HILLS, Dubai, United Arab Emirates',
       'BURJ KHALIFA, Dubai, United Arab Emirates',
       'JUMEIRAH VILLAGE TRIANGLE, Dubai, United Arab Emirates',
       'DUBAI LAND RESIDENCE COMPLEX, Dubai, United Arab Emirates',
       'MEYDAN ONE, Dubai, United Arab Emirates',
       'PALM JUMEIRAH, Dubai, United Arab Emirates',
       'DUBAI MARINA, Dubai, United Arab Emirates',
       'DUBAI HILLS, Dubai, United Arab Emirates',
       'SILICON OASIS, Dubai, United Arab Emirates',
       'JUMEIRAH LIVING, Dubai, United Arab Emirates',
       'TECOM SITE A, Dubai, United Arab Emirates',
       'Um Suqaim Third, Dubai, United Arab Emirates',
       'AL FURJAN, Dubai, United Arab Emirates',
       'MOTOR CITY, Dubai, United Arab Emirates',
       'Marsa Dubai, Dubai, United Arab Emirates',
       'MADINAT HIND 4, Dubai, United Arab Emirates',
       'DUBAI HARBOUR, Dubai, United Arab Emirates',
       'ARJAN, Dubai, United Arab Emirates',
       'Island 2, Dubai, United Arab Emirates',
       'CITY WALK, Dubai, United Arab Emirates',
       'DUBAI STUDIO CITY, Dubai, United Arab Emirates',
       'DUBAI PRODUCTION CITY, Dubai, United Arab Emirates',
       'Warsan First, Dubai, United Arab Emirates',
       'THE LAKES, Dubai, United Arab Emirates',
       'DOWN TOWN JABAL ALI, Dubai, United Arab Emirates',
       'MINA RASHID, Dubai, United Arab Emirates',
       'Hadaeq Sheikh Mohammed Bin Rashid, Dubai, United Arab Emirates',
       'DUBAI SCIENCE PARK, Dubai, United Arab Emirates',
       'Jumeirah First, Dubai, United Arab Emirates',
       'LA MER, Dubai, United Arab Emirates',
       'MBR DISTRICT 1, Dubai, United Arab Emirates',
       'MAJAN, Dubai, United Arab Emirates',
       'DUBAI SPORTS CITY, Dubai, United Arab Emirates',
       'JUMEIRAH BEACH RESIDENCE, Dubai, United Arab Emirates',
       'Al Barshaa South Third, Dubai, United Arab Emirates',
       'JUMEIRA BAY, Dubai, United Arab Emirates',
       'Zaabeel Second, Dubai, United Arab Emirates',
       'DUBAI HEALTHCARE CITY - PHASE 2, Dubai, United Arab Emirates',
       'INTERNATIONAL CITY PH 2 & 3, Dubai, United Arab Emirates',
       'JADDAF WATERFRONT, Dubai, United Arab Emirates',
       'Wadi Al Safa 7, Dubai, United Arab Emirates',
       'MEYDAN AVENUE, Dubai, United Arab Emirates',
       'MBR DISTRICT 7, Dubai, United Arab Emirates',
       'Al Yelayiss 2, Dubai, United Arab Emirates',
       'Jumeirah Second, Dubai, United Arab Emirates',
       'DUBAI MARITIME CITY, Dubai, United Arab Emirates',
       'LIWAN, Dubai, United Arab Emirates',
       'SUFOUH GARDENS, Dubai, United Arab Emirates',
       'REMRAAM, Dubai, United Arab Emirates',
       'BLUEWATERS, Dubai, United Arab Emirates',
       'Mirdif, Dubai, United Arab Emirates',
       'Jabal Ali First, Dubai, United Arab Emirates',
       'DUBAI WATER FRONT, Dubai, United Arab Emirates',
       'THE GREENS, Dubai, United Arab Emirates',
       'DUBAI SOUTH, Dubai, United Arab Emirates',
       'Al Kifaf, Dubai, United Arab Emirates',
       'JUMEIRAH HEIGHTS, Dubai, United Arab Emirates',
       'AL BARARI, Dubai, United Arab Emirates',
       'INTERNATIONAL CITY PH 1, Dubai, United Arab Emirates',
       'EMAAR SOUTH, Dubai, United Arab Emirates',
       'AL KHAIL HEIGHTS, Dubai, United Arab Emirates',
       'JUMEIRAH GOLF, Dubai, United Arab Emirates',
       'BARSHA HEIGHTS, Dubai, United Arab Emirates',
       'LIVING LEGENDS, Dubai, United Arab Emirates',
       'CITY OF ARABIA, Dubai, United Arab Emirates',
       'Wadi Al Safa 3, Dubai, United Arab Emirates',
       'PEARL JUMEIRA, Dubai, United Arab Emirates',
       'Al Qusais Industrial Fourth, Dubai, United Arab Emirates',
       'MUDON, Dubai, United Arab Emirates',
       'DUBAI INVESTMENT PARK SECOND, Dubai, United Arab Emirates',
       'DUBAI INVESTMENT PARK FIRST, Dubai, United Arab Emirates',
       'DUBAI INDUSTRIAL CITY, Dubai, United Arab Emirates'], dtype=object)

In [137]:
df['Nearest Metro'].unique()

array(['Business Bay Metro Station', nan, 'Damac Properties',
       'Dubai Internet City', 'Creek Metro Station',
       'Buj Khalifa Dubai Mall Metro Station', 'Jumeirah Lakes Towers',
       'Palm Jumeirah', 'Jumeirah Beach Resdency',
       'First Abu Dhabi Bank Metro Station', 'Mina Seyahi',
       'Dubai Marina', 'Ibn Battuta Metro Station',
       'Nakheel Metro Station', 'Sharaf Dg Metro Station',
       'Harbour Tower', 'Rashidiya Metro Station',
       'UAE Exchange Metro Station', 'Al Ghubaiba Metro Station',
       'Trade Centre Metro Station', 'Noor Bank Metro Station',
       'Al Sufouh', 'Financial Centre', 'Al Jadaf Metro Station',
       'Jumeirah Beach Residency', 'Knowledge Village',
       'ENERGY Metro Station', 'Al Jafiliya Metro Station',
       'Marina Towers', 'Marina Mall Metro Station',
       'Healthcare City Metro Station', 'Airport Free Zone',
       'DANUBE Metro Station'], dtype=object)

In [138]:
df['Nearest Mall'].unique()

array(['Dubai Mall', nan, 'Marina Mall', 'City Centre Mirdif',
       'Mall of the Emirates', 'Ibn-e-Battuta Mall'], dtype=object)

In [139]:
df['Nearest Landmark'].unique()

array(['Downtown Dubai', nan, 'Burj Al Arab',
       'Sports City Swimming Academy', 'Dubai International Airport',
       'Burj Khalifa', 'Dubai Cycling Course', 'Motor City',
       'IMG World Adventures', 'Expo 2020 Site', 'Global Village',
       'Dubai Parks and Resorts', 'Al Makhtoum International Airport'],
      dtype=object)

In [140]:
df.dropna(subset=['Address', 'Area_Address', 'Nearest Mall', 'Nearest Metro', 'Nearest Landmark'], inplace=True)

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21412 entries, 0 to 65847
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Registration type        21412 non-null  object
 1   Is Free Hold?            21412 non-null  object
 2   Area                     21412 non-null  object
 3   Property Type            21412 non-null  object
 4   Amount                   21412 non-null  float64
 5   Transaction Size (sq.m)  21412 non-null  float64
 6   Property Size (sq.m)     21412 non-null  float64
 7   Room(s)                  21412 non-null  int64
 8   Parking                  21412 non-null  object
 9   Nearest Metro            21412 non-null  object
 10  Nearest Mall             21412 non-null  object
 11  Nearest Landmark         21412 non-null  object
 12  Project                  21412 non-null  object
 13  Date                     21412 non-null  datetime64[ns]
 14  Month                    21412 non-null  object
 15  Address                  21412 non-null  object
 16  Area_Address             21412 non-null  object
 17  Month_No                 21412 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(1), int64(1), object(12)
memory usage: 3.0+ MB

In [142]:
df2 = pd.read_csv(r"C:\Users\Karan\Desktop\Real Estate Price Prediction\area_address.csv", low_memory=False)
   
df = pd.merge(df, df2, on = 'Area_Address', how ='left')

In [143]:
df3 = pd.read_csv(r"C:\Users\Karan\Desktop\Real Estate Price Prediction\dld_address.csv", low_memory=False)
   
df = pd.merge(df, df3, on = 'Address', how ='left')

We do the same for the metro, mall and landmark columns as well

In [144]:
df['Metro'] = df['Nearest Metro'] + ', Dubai, United Arab Emirates'

In [145]:
df4 = pd.read_csv(r"C:\Users\Karan\Desktop\Real Estate Price Prediction\metro.csv", low_memory=False)
   
df = pd.merge(df, df4, on = 'Metro', how ='left')

In [146]:
df['Mall'] = df['Nearest Mall'] + ', Dubai, United Arab Emirates'

In [147]:
df5 = pd.read_csv(r"C:\Users\Karan\Desktop\Real Estate Price Prediction\mall.csv", low_memory=False)
   
df = pd.merge(df, df5, on = 'Mall', how ='left')

In [148]:
df['Landmark'] = df['Nearest Landmark'] + ', Dubai, United Arab Emirates'

In [149]:
df2 = pd.read_csv(r"C:\Users\Karan\Desktop\Real Estate Price Prediction\landmark.csv", low_memory=False)
   
df = pd.merge(df, df2, on = 'Landmark', how ='left')

In [150]:
df.head()

,Registration type,Is Free Hold?,Area,Property Type,Amount,Transaction Size (sq.m),Property Size (sq.m),Room(s),Parking,Nearest Metro,...,address_y,Metro,metro_x,metro_y,Mall,mall_x,mall_y,Landmark,landmark_x,landmark_y
0,Off-Plan,Free Hold,BUSINESS BAY,Unit,2631000.0,105.75,105.75,2,1,Business Bay Metro Station,...,55.274027,"Business Bay Metro Station, Dubai, United Arab...",25.191252,55.257737,"Dubai Mall, Dubai, United Arab Emirates",25.197438,55.276923,"Downtown Dubai, Dubai, United Arab Emirates",25.194128,55.267727
1,Off-Plan,Free Hold,JUMEIRAH LAKES TOWERS,Unit,1170137.0,99.64,99.64,2,1,Damac Properties,...,55.154208,"Damac Properties, Dubai, United Arab Emirates",25.079314,55.145533,"Marina Mall, Dubai, United Arab Emirates",25.076352,55.139384,"Burj Al Arab, Dubai, United Arab Emirates",25.141555,55.183691
2,Off-Plan,Free Hold,JUMEIRAH VILLAGE CIRCLE,Unit,590000.0,63.95,63.95,1,1,Dubai Internet City,...,55.216211,"Dubai Internet City, Dubai, United Arab Emirates",25.102016,55.171064,"Marina Mall, Dubai, United Arab Emirates",25.076352,55.139384,"Sports City Swimming Academy, Dubai, United Ar...",25.041833,55.216391
3,Off-Plan,Free Hold,JUMEIRAH VILLAGE CIRCLE,Unit,600000.0,61.36,61.36,1,1,Dubai Internet City,...,55.216211,"Dubai Internet City, Dubai, United Arab Emirates",25.102016,55.171064,"Marina Mall, Dubai, United Arab Emirates",25.076352,55.139384,"Sports City Swimming Academy, Dubai, United Ar...",25.041833,55.216391
4,Off-Plan,Free Hold,DUBAI CREEK HARBOUR,Unit,1340888.0,64.09,64.09,1,1,Creek Metro Station,...,55.345255,"Creek Metro Station, Dubai, United Arab Emirates",25.219068,55.338910,"City Centre Mirdif, Dubai, United Arab Emirates",25.216319,55.405220,"Dubai International Airport, Dubai, United Ara...",25.253175,55.363098

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21412 entries, 0 to 21411
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Registration type        21412 non-null  object
 1   Is Free Hold?            21412 non-null  object
 2   Area                     21412 non-null  object
 3   Property Type            21412 non-null  object
 4   Amount                   21412 non-null  float64
 5   Transaction Size (sq.m)  21412 non-null  float64
 6   Property Size (sq.m)     21412 non-null  float64
 7   Room(s)                  21412 non-null  int64
 8   Parking                  21412 non-null  object
 9   Nearest Metro            21412 non-null  object
 10  Nearest Mall             21412 non-null  object
 11  Nearest Landmark         21412 non-null  object
 12  Project                  21412 non-null  object
 13  Date                     21412 non-null  datetime64[ns]
 14  Month                    21412 non-null  object
 15  Address                  21412 non-null  object
 16  Area_Address             21412 non-null  object
 17  Month_No                 21412 non-null  int32
 18  lat                      21412 non-null  float64
 19  lon                      21412 non-null  float64
 20  address_x                18174 non-null  float64
 21  address_y                18174 non-null  float64
 22  Metro                    21412 non-null  object
 23  metro_x                  21412 non-null  float64
 24  metro_y                  21412 non-null  float64
 25  Mall                     21412 non-null  object
 26  mall_x                   21412 non-null  float64
 27  mall_y                   21412 non-null  float64
 28  Landmark                 21412 non-null  object
 29  landmark_x               21412 non-null  float64
 30  landmark_y               21412 non-null  float64
dtypes: datetime64[ns](1), float64(13), int32(1), int64(1), object(15)
memory usage: 5.0+ MB

In [152]:
df.head()

,Registration type,Is Free Hold?,Area,Property Type,Amount,Transaction Size (sq.m),Property Size (sq.m),Room(s),Parking,Nearest Metro,...,address_y,Metro,metro_x,metro_y,Mall,mall_x,mall_y,Landmark,landmark_x,landmark_y
0,Off-Plan,Free Hold,BUSINESS BAY,Unit,2631000.0,105.75,105.75,2,1,Business Bay Metro Station,...,55.274027,"Business Bay Metro Station, Dubai, United Arab...",25.191252,55.257737,"Dubai Mall, Dubai, United Arab Emirates",25.197438,55.276923,"Downtown Dubai, Dubai, United Arab Emirates",25.194128,55.267727
1,Off-Plan,Free Hold,JUMEIRAH LAKES TOWERS,Unit,1170137.0,99.64,99.64,2,1,Damac Properties,...,55.154208,"Damac Properties, Dubai, United Arab Emirates",25.079314,55.145533,"Marina Mall, Dubai, United Arab Emirates",25.076352,55.139384,"Burj Al Arab, Dubai, United Arab Emirates",25.141555,55.183691
2,Off-Plan,Free Hold,JUMEIRAH VILLAGE CIRCLE,Unit,590000.0,63.95,63.95,1,1,Dubai Internet City,...,55.216211,"Dubai Internet City, Dubai, United Arab Emirates",25.102016,55.171064,"Marina Mall, Dubai, United Arab Emirates",25.076352,55.139384,"Sports City Swimming Academy, Dubai, United Ar...",25.041833,55.216391
3,Off-Plan,Free Hold,JUMEIRAH VILLAGE CIRCLE,Unit,600000.0,61.36,61.36,1,1,Dubai Internet City,...,55.216211,"Dubai Internet City, Dubai, United Arab Emirates",25.102016,55.171064,"Marina Mall, Dubai, United Arab Emirates",25.076352,55.139384,"Sports City Swimming Academy, Dubai, United Ar...",25.041833,55.216391
4,Off-Plan,Free Hold,DUBAI CREEK HARBOUR,Unit,1340888.0,64.09,64.09,1,1,Creek Metro Station,...,55.345255,"Creek Metro Station, Dubai, United Arab Emirates",25.219068,55.338910,"City Centre Mirdif, Dubai, United Arab Emirates",25.216319,55.405220,"Dubai International Airport, Dubai, United Ara...",25.253175,55.363098

In [153]:
import geopy.distance
from geopy.distance import geodesic as GD

import h3

In [154]:
#Extracting the distance of each property to the nearest metro, mall and landmark

df['Metro_Dist'] = df.apply(lambda row: h3.point_dist((row['lat'], row['lon']), (row['metro_x'], row['metro_y']), unit='km'), axis=1)
df['Mall_Dist'] = df.apply(lambda row: h3.point_dist((row['lat'], row['lon']), (row['mall_x'], row['mall_y']), unit='km'), axis=1)
df['Landmark_Dist'] = df.apply(lambda row: h3.point_dist((row['lat'], row['lon']), (row['landmark_x'], row['landmark_y']), unit='km'), axis=1)

In [155]:
#Converting parking values to 0 or 1 depending on whether the property is provided with parking

df['Parking'].unique()

array([1, 0], dtype=object)

In [156]:
df['Parking'] = df['Parking'].astype(int)

In [157]:
df['Parking'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 21412 entries, 0 to 21411
Series name: Parking
Non-Null Count  Dtype
--------------  -----
21412 non-null  int32
dtypes: int32(1)
memory usage: 83.8 KB

In [158]:
#Using one-hot encoding to assign integer values to categorical values

one_hot_encoded_data = pd.get_dummies(df, columns = ['Registration type', 'Is Free Hold?'], drop_first=True, dtype=int)

merged_df = pd.concat([df, one_hot_encoded_data], axis=1)

In [159]:
one_hot_encoded_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21412 entries, 0 to 21411
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Area                         21412 non-null  object
 1   Property Type                21412 non-null  object
 2   Amount                       21412 non-null  float64
 3   Transaction Size (sq.m)      21412 non-null  float64
 4   Property Size (sq.m)         21412 non-null  float64
 5   Room(s)                      21412 non-null  int64
 6   Parking                      21412 non-null  int32
 7   Nearest Metro                21412 non-null  object
 8   Nearest Mall                 21412 non-null  object
 9   Nearest Landmark             21412 non-null  object
 10  Project                      21412 non-null  object
 11  Date                         21412 non-null  datetime64[ns]
 12  Month                        21412 non-null  object
 13  Address                      21412 non-null  object
 14  Area_Address                 21412 non-null  object
 15  Month_No                     21412 non-null  int32
 16  lat                          21412 non-null  float64
 17  lon                          21412 non-null  float64
 18  address_x                    18174 non-null  float64
 19  address_y                    18174 non-null  float64
 20  Metro                        21412 non-null  object
 21  metro_x                      21412 non-null  float64
 22  metro_y                      21412 non-null  float64
 23  Mall                         21412 non-null  object
 24  mall_x                       21412 non-null  float64
 25  mall_y                       21412 non-null  float64
 26  Landmark                     21412 non-null  object
 27  landmark_x                   21412 non-null  float64
 28  landmark_y                   21412 non-null  float64
 29  Metro_Dist                   21412 non-null  float64
 30  Mall_Dist                    21412 non-null  float64
 31  Landmark_Dist                21412 non-null  float64
 32  Registration type_Ready      21412 non-null  int32
 33  Is Free Hold?_Non Free Hold  21412 non-null  int32
dtypes: datetime64[ns](1), float64(16), int32(4), int64(1), object(12)
memory usage: 5.2+ MB

In [160]:
df = one_hot_encoded_data

In [161]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21412 entries, 0 to 21411
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Area                         21412 non-null  object
 1   Property Type                21412 non-null  object
 2   Amount                       21412 non-null  float64
 3   Transaction Size (sq.m)      21412 non-null  float64
 4   Property Size (sq.m)         21412 non-null  float64
 5   Room(s)                      21412 non-null  int64
 6   Parking                      21412 non-null  int32
 7   Nearest Metro                21412 non-null  object
 8   Nearest Mall                 21412 non-null  object
 9   Nearest Landmark             21412 non-null  object
 10  Project                      21412 non-null  object
 11  Date                         21412 non-null  datetime64[ns]
 12  Month                        21412 non-null  object
 13  Address                      21412 non-null  object
 14  Area_Address                 21412 non-null  object
 15  Month_No                     21412 non-null  int32
 16  lat                          21412 non-null  float64
 17  lon                          21412 non-null  float64
 18  address_x                    18174 non-null  float64
 19  address_y                    18174 non-null  float64
 20  Metro                        21412 non-null  object
 21  metro_x                      21412 non-null  float64
 22  metro_y                      21412 non-null  float64
 23  Mall                         21412 non-null  object
 24  mall_x                       21412 non-null  float64
 25  mall_y                       21412 non-null  float64
 26  Landmark                     21412 non-null  object
 27  landmark_x                   21412 non-null  float64
 28  landmark_y                   21412 non-null  float64
 29  Metro_Dist                   21412 non-null  float64
 30  Mall_Dist                    21412 non-null  float64
 31  Landmark_Dist                21412 non-null  float64
 32  Registration type_Ready      21412 non-null  int32
 33  Is Free Hold?_Non Free Hold  21412 non-null  int32
dtypes: datetime64[ns](1), float64(16), int32(4), int64(1), object(12)
memory usage: 5.2+ MB

In [162]:
df.head(10)

,Area,Property Type,Amount,Transaction Size (sq.m),Property Size (sq.m),Room(s),Parking,Nearest Metro,Nearest Mall,Nearest Landmark,...,mall_x,mall_y,Landmark,landmark_x,landmark_y,Metro_Dist,Mall_Dist,Landmark_Dist,Registration type_Ready,Is Free Hold?_Non Free Hold
0,BUSINESS BAY,Unit,2631000.0,105.75,105.75,2,1,Business Bay Metro Station,Dubai Mall,Downtown Dubai,...,25.197438,55.276923,"Downtown Dubai, Dubai, United Arab Emirates",25.194128,55.267727,1.808766,1.481400,1.256166,0,0
1,JUMEIRAH LAKES TOWERS,Unit,1170137.0,99.64,99.64,2,1,Damac Properties,Marina Mall,Burj Al Arab,...,25.076352,55.139384,"Burj Al Arab, Dubai, United Arab Emirates",25.141555,55.183691,1.313136,0.676104,9.186701,0,0
2,JUMEIRAH VILLAGE CIRCLE,Unit,590000.0,63.95,63.95,1,1,Dubai Internet City,Marina Mall,Sports City Swimming Academy,...,25.076352,55.139384,"Sports City Swimming Academy, Dubai, United Ar...",25.041833,55.216391,4.915593,5.201582,3.537823,0,0
3,JUMEIRAH VILLAGE CIRCLE,Unit,600000.0,61.36,61.36,1,1,Dubai Internet City,Marina Mall,Sports City Swimming Academy,...,25.076352,55.139384,"Sports City Swimming Academy, Dubai, United Ar...",25.041833,55.216391,4.915593,5.201582,3.537823,0,0
4,DUBAI CREEK HARBOUR,Unit,1340888.0,64.09,64.09,1,1,Creek Metro Station,City Centre Mirdif,Dubai International Airport,...,25.216319,55.405220,"Dubai International Airport, Dubai, United Ara...",25.253175,55.363098,3.157067,4.941701,6.107360,0,0
5,DUBAI CREEK HARBOUR,Unit,2261888.0,97.23,97.23,2,1,Creek Metro Station,City Centre Mirdif,Dubai International Airport,...,25.216319,55.405220,"Dubai International Airport, Dubai, United Ara...",25.253175,55.363098,3.157067,4.941701,6.107360,0,0
6,DUBAI WATER CANAL,Unit,2096000.0,77.87,77.87,1,1,Business Bay Metro Station,Dubai Mall,Burj Khalifa,...,25.197438,55.276923,"Burj Khalifa, Dubai, United Arab Emirates",25.197197,55.271802,1.093543,3.141925,2.648542,0,0
7,DUBAI CREEK HARBOUR,Unit,2299888.0,97.23,97.23,2,1,Creek Metro Station,City Centre Mirdif,Dubai International Airport,...,25.216319,55.405220,"Dubai International Airport, Dubai, United Ara...",25.253175,55.363098,3.157067,4.941701,6.107360,0,0
8,DUBAI CREEK HARBOUR,Unit,2296888.0,100.15,100.15,2,1,Creek Metro Station,City Centre Mirdif,Dubai International Airport,...,25.216319,55.405220,"Dubai International Airport, Dubai, United Ara...",25.253175,55.363098,3.157067,4.941701,6.107360,0,0
9,BUSINESS BAY,Unit,3216000.0,133.39,133.39,2,1,Business Bay Metro Station,Dubai Mall,Downtown Dubai,...,25.197438,55.276923,"Downtown Dubai, Dubai, United Arab Emirates",25.194128,55.267727,1.808766,1.481400,1.256166,0,0